/*
--------------------
RESET CSS
base comun para todos los navegadores
*/

/*
Reinicia margenes, paddings y modelo de caja
*/

*,
*::before,
*::after{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
Permite un desplazamiento suave al usar enlaces internos
*/

html{
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}


/*
Evita desbordamientos horizontales accidentales

*/

body{

    min-height: 100vh;
    min-height: 100dvh;


    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    

}


/*
Imagenes y contenido multimedia responsivos
*/

img,
picture,
video,
canvas,
svg{
    display: block;
    max-width: 100%;
    height: auto;
}

/*
formularios heredan la tipografia del sitio
*/

input,
button,
textarea,
select{
    font: inherit;
    color: inherit;
}

textarea {
  resize: vertical;
}

/*
Mejora la apariencia de botones
*/


button{
    background: transparent;
    border: none;
    cursor: pointer;
}

/*
los enlaces no tendran estilos por defecto
*/
a{
    text-decoration: none;
    color: inherit;
}

/*
elimina estilos de listas
*/

ul,
ol{
    list-style: none;
}





/*
    TABLAS
*/

table{
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    TIPOGRAFIA
    */

h1,
h2,
h3,
h4,
h5,
h6{
    font: inherit;
    font-weight: inherit;
}


/*
Evita que el texto largo rompa el diseño
*/

p,
h1,
h2,
h3,
h4,
h5,
h6{
    overflow-wrap: break-word;
}

/* ==========================
   Accesibilidad
========================== */

@media (prefers-reduced-motion: reduce){

    

    *,
    *::before,
    *::after{

        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;

        transition-duration: 0.01ms !important;

        scroll-behavior: auto !important;
    }

}

/* ==================================================
   BREAKPOINTS (Referencia)

   Mobile:         480px
   Tablet:         768px
   Laptop:        1024px
   Desktop:       1280px
   Large Desktop: 1440px

   Nota:
   Las variables CSS no pueden utilizarse de forma
   estándar dentro de @media, por lo que estos valores
   se mantienen únicamente como referencia.
================================================== */